<!DOCTYPE html>
<html>
  <head>
    <title>Trippo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <h1>Trippo</h1>
    <h2>PLACES TO VISIT IN NSW</h2>




    <%= yield %>
  </body>
</html>
