<!DOCTYPE html>
<html>
  <head>
    <title>Trippo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>


<!-- Just an image -->
<nav class="navbar navbar-dark primary-color special-img">
  <a class="navbar-brand" href="#">
    <img class="test" src="https://picsum.photos/200/300/?random" height="60" width="60" alt="User">
  </a>
  <%= @current_user.name %>
</nav>

    <h1>Trippo</h1>
        <% if @current_user.present? %>
        <div>Welcome, <%= @current_user.name %></div>
        <% end %>
         <br>
        <%= link_to 'Home', regions_path %>
         |
        <% if @current_user.present? %>

        <%= link_to 'Create New Attraction', new_attraction_path %>
         |
        <%= link_to 'Logout', login_path, method: 'delete' %>

        <% else %>

        <%= link_to 'Login', login_path %>
         |
        <%= link_to 'Sign up', new_user_path %>

        <% end %>





    <%= yield %>
  </body>
</html>
