<!DOCTYPE html>
<html>
  <head>
    <title>Trippo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <link href="https://fonts.googleapis.com/css?family=Days+One|Montserrat+Subrayada|Sonsie+One" rel="stylesheet">



  </head>



  <body>

<div class="navContainer">
  <a href="<%= regions_path %>"><h1 class="logo" id="logo">Trippo</h1></a>


    <!-- ///////////Nav Items///////////// -->

    <!--- Search part ---------->



    <div class="serachContainer">
        <%= form_tag search_attractions_path do %>
          <div class="searchItem">
            <input name="query" placeholder="Search" type="text" >
            <button type="submit" class="btn btn-info">Go</button>
          </div>
        <% end %>
    </div>
    <div class="item1">

       <%= link_to 'Home ', regions_path %>
              |
             <% if @current_user.present? %>

             <%= link_to 'Create New Attraction ', new_attraction_path %>
              |
              <%= link_to ' My Account ', edit_user_path(@current_user.id) %>
              |
             <%= link_to ' Logout ' , login_path, method: 'delete' %>


             <% else %>
             <%= link_to 'Login ', login_path , "data-toggle" => "modal", "data-target" => "#exampleModal", "data-whatever" => "@getbootstrap" %>

              |
             <%= link_to 'Sign up ', new_user_path  %>

             <% end %>

             <% if @current_user.present? %>
               |
             <span class="welcom">Welcome, <%= @current_user.name %></span>
               <%= cl_image_tag @current_user.image, class:"avartar" %>
             <% end %>
   </div>
</div>
<div class="navContainer2"></div>

<%= yield %>



  </body>
</html>


<!-- ///////////LOGIN Form Popup///////////// -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in to continue</h5>
      </div>
      <div class="modal-body">
        <%= form_tag login_path  do %>
          <span>
          <%= label_tag :email %>
          <%= email_field_tag :email, nil, class:"form-control", id:"recipient-email", placeholder:"Enter email" %>
        </span>
          <br>
          <span>
            <%= label_tag :password%>
            <%= password_field_tag :password, nil, type:"text", class:"form-control", id:"recipient-password"%>
          </span>
          <br>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= submit_tag 'Login', class:"btn btn-info" %>
            <% end %>
            </div>

      </div>

      </div>

    </div>
</div>
