<h3 class="searchResultsText">Search results for "<%= @query %>"</h3>


<% if @attractions.length===0 %>
  Sorry, there are no results for "<%= @query %>"

<% else %>
  <div class='griddleContainer'>
    <% @attractions.each do |attraction| %>

        <a class="resultsImage" href='<%= attraction_path(attraction.id)%>'><img src="<%= attraction.image %>"</a>
        <div class="text-block">
          <h4><%= attraction.name %></h4>
        </div>
    
    <% end %>
  </div>
<% end %>
