<script>
  const attraction_id = <%= @attraction.id %>;
</script>

<!-- ///////////////Image and map //////////////////////////-->

<div class="mapAndImageContainer">

    <%= image_tag @attraction.image, class:"attraction-show-page-img" %>

    <!--The div element for the map -->
    <div id="map">
    </div>
    <!--map -->
    <script>
      //proximity array, deconstruct, get lat, lng, id, image
      var locations =<%= @venues.select(:latitude, :longitude,:id, :image).to_json.html_safe %>

      // Initialize and add the map, this runs when below async function returns from google maps.
      function initMap() {

        var bounds = new google.maps.LatLngBounds();  //create boundary box, no fixed dimensions

        //place map at <div id="map">, set zoom level, center view on var marker.
        var thisMap = new google.maps.Map(
            document.getElementById('map'), {zoom: 9, center: marker});

        // create var marker, positioned at this marker, place on thisMap
        var marker = new google.maps.Marker({position: marker, map: thisMap});

        //setup new infoWindow
        var infoWindow = new google.maps.InfoWindow({maxWidth:320});

      ////////////////////////////////////////////////////
        for(let i = 0; i<locations.length; i++){   //loop through location array, creating new marker
          var m = new google.maps.Marker({    //Individual marker (m)
            position: {
              lat: locations[i].latitude,
              lng: locations[i].longitude
            },
            map:thisMap,        //applies to map created created map
            content: `<div>${locations[i].name}</div><div class="mapImageContainer"><img class='windowImg' src=${locations[i].image}></div><a href="/attractions/${locations[i].id}">Go to attraction</a>`, url: `/attractions/${locations[i].id}`   //this only in infoWindow on click.
          });

          bounds.extend(m.getPosition());  //boundary box stretches by each marker's (m) position

          //create event listener for marker click
          google.maps.event.addListener(m, 'click', function() {
            infoWindow.setContent(this.content);
            infoWindow.open(this.getMap(), this);
          })
        }  //end of for loop
            /////////////////////////////////////////////////////////

        thisMap.fitBounds(bounds);

            //single attraction, do not zoom in all the way
        var listener = google.maps.event.addListener(map, "idle", function() {
          if (map.getZoom() > 16) map.setZoom(16);
          google.maps.event.removeListener(listener);
        });
      }; //end of initmap
    </script>
     <!--Load the API from the specified URL
     * The async attribute allows the browser to render the page while the API loads
     * The callback parameter executes the initMap() function
     -->
     <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfdeYzd23jyR3fKx0oRtdlqCDK-NEzwcI&callback=initMap">

     </script>

</div>



<!-- ///////////////////////Individual attraction Info////////////////////////////////// -->
<div class="indAtrInfWrap">

    <div class="titleBox1">
      <h2 class="attractiontitle"><%=@attraction.name %></h2>
    </div>
    <div class="titleBox2">
      <h5><strong>Address: </strong><%= @attraction.address %></h5>
      <h5><strong>Current Tempertature: </strong> <%= @weather['main']['temp'] %> &#176 C</h5>
      <h5><strong>Weather Station: </strong> <%=@weather['name']  %></h5>
    </div>

</div>
<div class="backRegion">
  <strong><%= link_to  'Back', region_path(@attraction.region.id) , class:"badge badge-pill badge-info" %></strong>
</div>

<div class="attrDescriptionBox">
<p class="attractionDescription"><%= @attraction.description %></p>
<hr>
</div>



<!-- /////////Rivew Show Part/////////////Login part for Adding Rivew///////////// -->


<div class="reviewInput">
    <% if @current_user.present? %>

        <fieldset>
        Comment:<br>
        <textarea id="reviewComment" class="form-control"></textarea>
        </fieldset>
        <div class="reviewBotton">
        <button id="reviewSubmit" class="btn btn-info" >Submit</button>
        </div>
        <hr>

    <% else %>



        <!-- <p><%= link_to 'Login', login_path%> to leave a comment</p> -->
        <%= link_to 'Login to leave a comment', login_path , "data-toggle" => "modal", "data-target" => "#exampleModal", "data-whatever" => "@getbootstrap" , class:"btn btn-info"%>

    <% end %>

</div>


<div id="showReview" class="showReview">
    <% @attraction.reviews.reverse.each do |review| %>
      <h6 class="reviewOwner"><strong><%= review.user.name %> | <%= time_ago_in_words(review.created_at)%> ago</strong></h6>
      <p><%= review.comment %></p>

      <% if review.user == @current_user %>
      <p><%= link_to 'Delete', review_path(review.id), method: 'delete' %></p>
      <% end %>

      <hr>
    <% end %>
</div>
